<!-- 
<table>
    <tbody>
        <tr>
            <th colspan="2" class="tblasuntosazul">Seleccione Asunto</th>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <table cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff;">
                    <tbody>
                        <tr>
                            <td style="height: 4px"><img alt="" src="../resource/images/pag/t11.gif"></td>
                            <td> <img alt="" src="../resource/images/pag/t12.gif" width="100%" height="6px"></td>
                            <td><img alt="" src="../resource/images/pag/t13.gif"></td>
                        </tr>
                        <tr>
                            <td style="background-image: url(../resource/images/pag/t21.gif); height: 6px; width: 6px">
                            </td>
                            <td>
                                <table id="dlsSeccion" class="tblseccion" cellspacing="0" border="0"
                                    style="width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td colspan="4">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="tblseccioncbesera">Asuntos</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 150px">
                                                                <button class="btnseccion"
                                                                    (click)="getSeccionAsunto('294303','0')"
                                                                    type="button" id="ntnaci" name="ntnaci">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="text-align :left ">
                                                                                    {{post.id}}:&nbsp;&nbsp;</td>
                                                                                <td style="text-align :left ">
                                                                                    {{post.name}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="background-image: url(../resource/images/pag/t23.gif); width: 6px;"></td>
                        </tr>
                        <tr>
                            <td><img alt="" src="../resource/images/pag/t31.gif"></td>
                            <td><img alt="" src="../resource/images/pag/t32.gif" width="100%" height="6px"></td>
                            <td style="width: 6px; height: 4px"><img id="Image7" src="../resource/images/pag/t33.gif"
                                    style="height:6px;width:6px;border-width:0px;"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table> -->
<!-- <table width="60%">
  <tr>
    <td colspan="2" class="tblasuntosazul">Seleccione Asunto</td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <table cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff;">
        <tr>
          <td style="height: 4px"><img alt="" src="../resource/images/pag/t11.gif" /></td>
          <td> <img alt="" src="../resource/images/pag/t12.gif" width="100%" height="6px" /></td>
          <td><img alt="" src="../resource/images/pag/t13.gif" /></td>
        </tr>
        <tr>
          <td style="background-image: url(../resource/images/pag/t21.gif); height: 6px; width: 6px"></td>
          <td>
            <table id="dlsSeccion" class="tblseccion" cellspacing="0" border="0"
              style="width:100%;border-collapse:collapse;">
              <tr>
                <td colspan="4">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="tblseccioncbesera">Asuntos</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tr *ngFor="let row of groupedData">
                      <td *ngFor="let post of row" style="width: 152px; height: 52px;">
                        <button class="btnseccion" (click)="getSeccionAsunto('', '0')" type="button" id="ntnaci"
                          name="ntnaci">
                          <table width="100%">
                            <tbody>
                              <tr class="border">
                                <td style="text-align: left;">{{ post.id }}:&nbsp;&nbsp;</td>
                                <td style="text-align: left; margin-inline-start: 0px !important;">{{ post.name }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>

              </tr>
            </table>
        </tr>

      </table>

    </td>

  </tr>

</table> -->







<!-- <table class="tblseccion" id="dlsSeccion" cellspacing="0" border="0"
                  style="width:100%;border-collapse:collapse;">
                  <tbody>
                    <tr>
                      <td colspan="2" class="tblseccioncbesera">Seleccione Asunto</td>
                    </tr>
                    <tr>
                      <td colspan="4" align="center">
                        <table cellpadding="0" cellspacing="0" border="0"
                          style="text-align: center; background-color: #ffffff;">

                          <tr *ngFor="let row of groupedData">
                            <td *ngFor="let post of row" style="width: 150px">
                              <button class="btnseccion" (click)="getSeccionAsunto('', '0')" type="button" id="ntnaci"
                                name="ntnaci">
                                <table width="100%">
                                  <tbody>
                                    <tr class="border">
                                      <td style="text-align: left;">{{ post.id }}:&nbsp;&nbsp;</td>
                                      <td style="text-align: left;">{{ post.name }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </button>
                            </td>
                          </tr>
                        </table>
                      </td> -->



<!-- <table>
  <tbody>
    <tr>
      <td colspan="2" class="tblasuntosazul">Seleccione Asunto</td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <table cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff;">
          <tbody>
            <tr>
              <td style="height: 4px"><img alt="" src="../resource/images/pag/t11.gif" /></td>
              <td><img alt="" src="../resource/images/pag/t12.gif" width="100%" height="6px" /></td>
              <td><img alt="" src="../resource/images/pag/t13.gif" /></td>
            </tr>
            <tr>
              <td style="background-image: url(../resource/images/pag/t21.gif); height: 6px; width: 6px"></td>
              <td>
                <table id="dlsSeccion" class="tblseccion" cellspacing="0" border="0"
                  style="width:100%;border-collapse:collapse;">
                  <tbody>
                    <tr>
                      <td colspan="4">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td class="tblseccioncbesera">Asuntos</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr *ngFor="let row of data">
                      <td *ngFor="let post of row" style="width: 25%; text-align: center;">
                        <table cellpadding="0" cellspacing="0" border="0">
                          <tbody>
                            <tr>
                              <td style="width: 150px">
                                <button class="btnseccion" (click)="getSeccionAsunto(post.id, '0')" type="button">
                                  <table width="100%">
                                    <tbody>
                                      <tr>
                                        <td style="text-align: left;">{{ post.id }}:&nbsp;&nbsp;</td>
                                        <td style="text-align: left;">{{ post.name }}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="background-image: url(../resource/images/pag/t23.gif); width: 6px;"></td>
            </tr>
            <tr>
              <td><img alt="" src="../resource/images/pag/t31.gif" /></td>
              <td><img alt="" src="../resource/images/pag/t32.gif" width="100%" height="6px" /></td>
              <td style="width: 6px; height: 4px"><img id="Image7" src="../resource/images/pag/t33.gif"
                  style="height:6px;width:6px;border-width:0px;" /></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table> -->
<div id="div1" class="Cuerpo1">

  <table width="60%">
    <tr>
      <td colspan="2" class="tblasuntosazul">Seleccione Asunto</td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <table cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff;">
          <tbody>

            <tr>
              <td>
                <table id="dlsSeccion" class="tblseccion" cellspacing="0" border="0"
                  style="width:100%;border-collapse:collapse;">
                  <tr>
                    <td colspan="4">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td class="tblseccioncbesera">Asuntos</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr *ngFor="let row of groupedData">
                            <td *ngFor="let post of row" style="width: 150px; padding: 1px;">
                              <button class="btnseccion" (click)="getSeccionAsunto(post.id)" type="button"
                                id="ntnaci" name="ntnaci">
                                <table width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="text-align: left;">{{ post.id }}:&nbsp;&nbsp;</td>
                                      <td style="text-align: left;">{{ post.name }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">
        
        <input type="image" name="btnCerrar" id="btnCerrar" src="../resource/images/pag/btn_salir_over.gif" style="border-width:0px;">

        
      </td>
    </tr>
  </table>
</div>