<div id="div1" class="Cuerpo1">

  <table width="60%">
    <tr>
      <td colspan="2" class="tblasuntosazul">Seleccione Asunto</td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <table cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff;">
          <tbody>

            <tr>
              <td>
                <table id="dlsSeccion" class="tblseccion" cellspacing="0" border="0"
                  style="width:100%;border-collapse:collapse;">
                  <tr>
                    <td colspan="4">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td class="tblseccioncbesera">Asuntos</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr *ngFor="let row of groupedData">
                            <td *ngFor="let post of row" style="width: 150px; padding: 1px;">
                              <button class="btnseccion" (click)="getSeccionAsunto(post.id)" type="button"
                                id="ntnaci" name="ntnaci">
                                <table width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="text-align: left;">{{ post.id }}:&nbsp;&nbsp;</td>
                                      <td style="text-align: left;">{{ post.name }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">
        
        <input type="image" name="btnCerrar" id="btnCerrar" src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_salir_over.gif" style="border-width:0px;">

        
      </td>
    </tr>
  </table>
</div>