<!-- <div class="px-5 py-1 flex bg-blue-100 max-h-24 w-full !justify-between">
    <div class="text-[8px] break-words">
        USUARIO: <b>{{usuario}}</b>
    </div>
    <div class="text-[8px] break-words justify-end">
        ULTIMO INGRESO: <strong>{{ingreso | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>
    </div>
</div> -->

<table class="tlogueousuario">
    <tr>
        <td align="left"><span id="lblUsuario">USUARIO:<b>CERVANTES COELLO LUIS</b></span></td>

        <td align="right"><span id="lblFecha"><a
                    href='http://www.salonesnetwork.com/apphistorico/acceso.aspx?u=4A8C7A867E8D8C828C&p=4F4E52828E85'
                    target='_blank'>Consultar Historico
                    SN(11/08-06/09)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ULTIMO
                INGRESO: <b>12/26/2024 12:11:04 PM</b></span></td>
    </tr>
</table>

<router-outlet></router-outlet>
