<!-- <div class="flex flex-col-reverse md:flex-row w-full bg-red-200">
    <div class="min-w-[650px] w-full md:w-8/12 bg-blue-200 p-4">
        <app-asuntos [data]="post"></app-asuntos>
    </div>
    <div class="min-w-[240px] w-full md:w-4/12 bg-green-200 p-4 sticky top-0 justify-end">
        <app-busqueda></app-busqueda>
    </div>
</div> -->





<app-asuntos [data]="post"></app-asuntos>
<app-contenido></app-contenido>

    
    <a href="https://www.salonesnetwork.com/AppSalones/Documentosporta/2015/2/0R7bf2Nyp9T.doc"></a>