<div id="idBusqueda" style="margin-top: 40px; height: 0px; display: block; position: fixed; top: 78px; right: 20px;">
    <table style="background-color: #99ccff">
        <tr>
            <td valign="middle" style="font-size: 12px">
                Buscar:
                <select name="DropDownList1" id="DropDownList1" onchange="seleccionar(form1.DropDownList1.value)"
                    style="width:88px;">
                    <option value="Noticia">Noticia</option>
                    <option value="Mensaje">Mensaje</option>

                </select>
            </td>
            <td><input name="txtnronoticia0" type="text" id="txtnronoticia0" style="font-size:12px;width:60px;" />
            </td>
            <td><img src="https://salonesnetwork.com/AppSalones/resource/images/pag/IcoBuscar.gif" alt="Buscar Mensaje/Noticia" height="22px"
                    width="23px" border="0" style="cursor :hand" onclick="BuscadorDerecho();" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" name="btnIrUltimoNodoNavegado" value="Retroceder"
                    id="btnIrUltimoNodoNavegado" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="display: none"><input name="txtAncla" type="text" id="txtAncla" /></div>
            </td>
        </tr>
    </table>
</div>