<table *ngIf="fromPais" class="CuerpoPaices" style="text-align: center;" width="100%">
    <tr>

        <td valign="top">
            <table width="70%" cellpadding="10" cellspacing="10">
                <tr>
                    <td style="font-weight: 700; font-size: small" align="center">
                        Asuntos:<span id="lblNombreSeccion" class="tblasuntosazul">{{postName}}</span>
                        <br />
                        Seleccione País
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" style="text-align: center; width: 530px;">
                <tr>
                    <td colspan="3">
                        <table width="100%">
                            <tr>
                                <td align="left">
                                    <div id="divvolver">
                                        <a href='Noticias.aspx'>
                                            <img src='https://salonesnetwork.com/AppSalones/resource/images/pag/btn_regresar.gif'
                                                border='0' />
                                        </a>
                                    </div>
                                </td>
                                <td>Buscar :</td>
                                <td>
                                    <input name="txtBuscar" type="text" id="txtBuscar" />
                                </td>
                                <td>
                                    <input type="image" name="btnBuscarSeccion" id="btnBuscarSeccion"
                                        src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_buscar.gif"
                                        style="border-width:0px;" />
                                    <input type="image" name="btnActualizar" id="btnActualizar"
                                        src="https://salonesnetwork.com/AppSalones/resource/images/pag/IcoRefrescar.gif"
                                        style="height:18px;width:22px;border-width:0px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Linea de borde superior -->
                <tr>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t11.gif" />
                    </td>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t12.gif" width="100%"
                            height="6px" />
                    </td>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t13.gif" />
                    </td>
                </tr>

                <tr>
                    <!-- Linea de borde Izquierdo -->
                    <td width="6"
                        style="background-image: url(https://salonesnetwork.com/AppSalones/resource/images/pag/t21.gif)"
                        height="6">
                        &nbsp;
                    </td>
                    <!-- Contenido de la Tabla -->
                    <td>
                        <span id="dlsSeccion" class="tblpais" style="display:inline-block;width:100%;">
                            <span>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="tblseccioncbesera" style="text-align: center; width: 20%">
                                            <b>Nro</b>
                                        </td>
                                        <td class="tblseccioncbesera" style="text-align: center; width: 40%">
                                            <b>Descripción</b>
                                        </td>
                                        <td class="tblseccioncbesera" style="text-align: center; width: 40%"
                                            colspan="3"> - </td>
                                    </tr>
                                </table>
                            </span>
                            <br />
                            <span>
                                <table width="100%" cellpadding="3" cellspacing="0">
                                    <tr *ngFor="let pais of arrayPais">
                                        <td style="text-align: center; width: 20%">
                                            <b>{{ pais.id }}</b>
                                        </td>
                                        <td class="btnsala" style="width: 40%; vertical-align: middle">
                                            <a id="dlsSeccion" class="tblpaises">
                                                {{ pais.name }}
                                            </a>
                                        </td>
                                        <td class="btnsala" style="width: 40%; vertical-align: middle">

                                        </td>
                                        <td style="text-align: center" (click)="goSeccion(pais.id)">
                                            <a id="dlsSeccion" class="tblpaises">

                                                <img SRC='https://salonesnetwork.com/AppSalones/resource/images/Secciones/peru.gif'
                                                    WIDTH=50 HEIGHT=50 Border=1 />

                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </span>
                        </span>
                    </td>
                    <!-- Linea de borde Inferior -->
                    <td width="6"
                        style="background-image: url(https://salonesnetwork.com/AppSalones/resource/images/pag/t23.gif)"
                        height="6">
                        &nbsp;
                    </td>
                </tr>
                <!-- Linea de borde inferior -->
                <tr>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t31.gif" />
                    </td>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t32.gif" width="100%"
                            height="6px" />
                    </td>
                    <td>
                        <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t33.gif" />
                    </td>
                </tr>
                <!-- Boton de Salir -->
                <tr>
                    <td colspan="3" align="center">
                        <input type="image" name="btnCerrar" id="btnCerrar"
                            src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_salir_over.gif"
                            style="border-width:0px;">
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>



<!-- ESPACIO -->



<table *ngIf="!fromPais" class="CuerpoPaices" style="text-align: center;" width="100%">
    <tbody>
        <tr>

            <td>
                <table width="70%" cellpadding="10" cellspacing="10">
                    <tbody>
                        <tr>
                            <td style="font-weight: 700; font-size: small" align="center">
                                Asuntos: {{postName}} / <span id="lblNombreSeccion"
                                    class="tblasuntosazul">{{paisName}}</span>
                                <br>
                                Seleccione Sección
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellspacing="0" cellpadding="0" style="text-align: center; width: 530px;">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left">

                                                <div id="divvolver"><a href="Pais.aspx?Seccion=21103&amp;lvl=0"><img
                                                            src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_regresar.gif"
                                                            border="0"></a></div>
                                            </td>
                                            <td>Buscar :</td>
                                            <td>
                                                <input name="txtBuscar" type="text" id="txtBuscar">
                                            </td>
                                            <td>
                                                <input type="image" name="btnBuscarSeccion" id="btnBuscarSeccion"
                                                    src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_buscar.gif"
                                                    style="border-width:0px;">
                                                <input type="image" name="btnActualizar" id="btnActualizar"
                                                    src="https://salonesnetwork.com/AppSalones/resource/images/pag/IcoRefrescar.gif"
                                                    style="height:18px;width:22px;border-width:0px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- Linea de borde superior -->
                        <tr>
                            <td>
                                <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t11.gif" />
                            </td>
                            <td>
                                <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t12.gif"
                                    width="100%" height="6px" />
                            </td>
                            <td>
                                <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t13.gif" />
                            </td>
                        </tr>
                        <tr>
                            <!-- Linea de borde izquierdo -->
                            <td width="6"
                                style="background-image: url(https://salonesnetwork.com/AppSalones/resource/images/pag/t21.gif)"
                                height="6">
                                &nbsp;
                            </td>
                            <!-- Contenido de la Tabla -->
                            <td>
                                <span id="dlsSeccion" class="tblpais" style="display:inline-block;width:100%;"><span>
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="tblseccioncbesera"
                                                        style="text-align: center; width: 20%">
                                                        <b>Nro</b>
                                                    </td>
                                                    <td class="tblseccioncbesera"
                                                        style="text-align: center; width: 40%">
                                                        <b>Descripción</b>
                                                    </td>
                                                    <td class="tblseccioncbesera" style="text-align: center; width: 40%"
                                                        colspan="3">
                                                        -
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span><br><span>
                                        <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                            <tbody>
                                                <tr *ngFor="let seccion of arraySeccion">
                                                    <td style="text-align: center; width: 20%">
                                                        <b>
                                                            {{seccion.id}}</b>
                                                    </td>
                                                    <td class="btnsala" style="width: 40%; vertical-align: middle">
                                                        <a id="dlsSeccion_ctl01_LinkButton2" class="tblpaises"
                                                            href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton2','')">.
                                                            {{seccion.name}}</a>
                                                    </td>
                                                    <td class="btnsala" style="width: 40%; vertical-align: middle">

                                                    </td>
                                                    <td style="text-align: center" (click)="goToMensajes()">
                                                        <a id="dlsSeccion_ctl01_LinkButton3" class="tblpaises">

                                                            <img SRC='https://salonesnetwork.com/AppSalones/resource/images/Secciones/OQACGDdqoW.JPG'
                                                                WIDTH=50 HEIGHT=50 Border=1 />

                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span><br>
                                </span>
                            </td>
                            <!-- Linea de borde derecho -->
                            <td width="6"
                                style="background-image: url(https://salonesnetwork.com/AppSalones/resource/images/pag/t23.gif)"
                                height="6">&nbsp;</td>
                        </tr>
                        <!-- Linea de borde inferior -->
                        <tr>
                            <td> <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t31.gif">
                            </td>
                            <td>
                                <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t32.gif"
                                    width="100%" height="6px">
                            </td>
                            <td>
                                <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t33.gif">
                            </td>
                        </tr>
                        <!-- Boton de Salir -->
                        <tr>
                            <td colspan="3" align="center">
                                <input type="image" name="btnCerrar" id="btnCerrar"
                                    src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_salir_over.gif"
                                    style="border-width:0px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>

        </tr>
    </tbody>
</table>