<!-- <table cellspacing="0" cellpadding="0" style="text-align: center; width: 530px;">
                    <tbody><tr>
                        <td colspan="3">
                            <table width="100%">
                                <tbody><tr>
                                    <td align="left">
                                        
                                        <div id="divvolver"><a href="Noticias.aspx"><img src="../resource/images/pag/btn_regresar.gif" border="0"></a></div>
                                    </td>
                                    <td>Buscar :</td>
                                    <td>
                                        <input name="txtBuscar" type="text" id="txtBuscar"></td>
                                    <td>
                                        <input type="image" name="btnBuscarSeccion" id="btnBuscarSeccion" src="../resource/images/pag/btn_buscar.gif" style="border-width:0px;">
                                        <input type="image" name="btnActualizar" id="btnActualizar" src="../resource/images/pag/IcoRefrescar.gif" style="height:18px;width:22px;border-width:0px;">
                                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <img alt="" src="../resource/images/pag/t11.gif">
                        </td>
                        <td> <img alt="" src="../resource/images/pag/t12.gif" width="100%" height="6px">
                        </td>
                        <td>
                            <img alt="" src="../resource/images/pag/t13.gif">
                        </td>
                    </tr>
                    <tr>
                        <td style="background-image: url('../resource/images/pag/t21.gif');">
                            <img alt="" src="../resource/images/pag/spacer.gif">
                        </td>
                        <td>
                            <span id="dlsSeccion" class="tblpais" style="display:inline-block;width:100%;"><span>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td class="tblseccioncbesera" style="text-align: center; width: 20%">
                                                <b>Nro</b>
                                            </td>
                                            <td class="tblseccioncbesera" style="text-align: center; width: 40%">
                                                <b>Descripción</b>
                                            </td>
                                            <td class="tblseccioncbesera" style="text-align: center; width: 40%" colspan="3">
                                                -
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </span><br><span>
                                    <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                        <tbody><tr>
                                            <td style="text-align: center; width: 20%">
                                                <b>
                                                    1</b>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                            <a id="dlsSeccion_ctl01_LinkButton2" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton2','')">Chile</a>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                             <a id="dlsSeccion_ctl01_LinkButton1" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton1','')"></a>
                                            </td>
                                            <td style="text-align: center">
                                                <a id="dlsSeccion_ctl01_LinkButton3" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton3','')"><table><tbody><tr><td><img src="../resource/images/Secciones\chile.gif" width="50" height="50" border="1"></td></tr></tbody></table></a>
                                            </td><td>
                                                
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </span><br><span>
                                    <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                        <tbody><tr>
                                            <td style="text-align: center; width: 20%">
                                                <b>
                                                    2</b>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                            <a id="dlsSeccion_ctl02_LinkButton2" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl02$LinkButton2','')">Nicaragua</a>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                             <a id="dlsSeccion_ctl02_LinkButton1" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl02$LinkButton1','')"></a>
                                            </td>
                                            <td style="text-align: center">
                                                <a id="dlsSeccion_ctl02_LinkButton3" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl02$LinkButton3','')"><table><tbody><tr><td><img src="../resource/images/Secciones\nicaragua.gif" width="50" height="50" border="1"></td></tr></tbody></table></a>
                                            </td><td>
                                                
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </span><br><span>
                                    <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                        <tbody><tr>
                                            <td style="text-align: center; width: 20%">
                                                <b>
                                                    3</b>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                            <a id="dlsSeccion_ctl03_LinkButton2" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl03$LinkButton2','')">Paraguay</a>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                             <a id="dlsSeccion_ctl03_LinkButton1" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl03$LinkButton1','')"> </a>
                                            </td>
                                            <td style="text-align: center">
                                                <a id="dlsSeccion_ctl03_LinkButton3" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl03$LinkButton3','')"><table><tbody><tr><td><img src="../resource/images/Secciones\B14kOfjXVo.gif" width="50" height="50" border="1"></td></tr></tbody></table></a>
                                            </td><td>
                                                
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </span><br><span>
                                    <table width="100%" cellpadding="3" cellspacing="0" border="0">
                                        <tbody><tr>
                                            <td style="text-align: center; width: 20%">
                                                <b>
                                                    4</b>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                            <a id="dlsSeccion_ctl04_LinkButton2" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl04$LinkButton2','')">Perú</a>
                                            </td>
                                            <td class="btnsala" style="width: 40%; vertical-align: middle">
                                             <a id="dlsSeccion_ctl04_LinkButton1" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl04$LinkButton1','')"></a>
                                            </td>
                                            <td style="text-align: center">
                                                <a id="dlsSeccion_ctl04_LinkButton3" class="tblpaises" href="javascript:__doPostBack('dlsSeccion$ctl04$LinkButton3','')"><table><tbody><tr><td><img src="../resource/images/Secciones\peru.gif" width="50" height="50" border="1"></td></tr></tbody></table></a>
                                            </td><td>
                                                
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </span></span>
                        </td>
                        <td style="background-image: url(../resource/images/pag/t23.gif)">
                            <img alt="" src="../resource/images/pag/spacer.gif">
                        </td>
                    </tr>
                    <tr>
                        <td> <img alt="" src="../resource/images/pag/t31.gif">
                        </td>
                        <td>
                        <img alt="" src="../resource/images/pag/t32.gif" width="100%" height="6px">
                        </td>
                        <td>
                           <img alt="" src="../resource/images/pag/t33.gif">
                        </td>
                    </tr>
                    <tr>
                    <td colspan="3" align="center">
                    <input type="image" name="btnCerrar" id="btnCerrar" src="../resource/images/pag/btn_salir_over.gif" style="border-width:0px;"></td>
                    </tr>
                </tbody></table> -->


<table class="CuerpoPaices" style="text-align: center;" width="100%">
    <tr>
        <td align="left">
            <table>
                <tr>
                    <td valign="top">
                        <table width="100%" cellpadding="10" cellspacing="10">
                            <tr>
                                <td style="font-weight: 700; font-size: small" align="center">
                                    Asuntos:<span id="lblNombreSeccion" class="tblasuntosazul">{{postName}}</span>
                                    <br />
                                    Seleccione País
                                </td>
                            </tr>
                        </table>
                        <table cellspacing="0" cellpadding="0" style="text-align: center; width: 530px;">
                            <tr>
                                <td colspan="3">
                                    <table width="100%">
                                        <tr>
                                            <td align="left">
                                                <div id="divvolver">
                                                    <a href='Noticias.aspx'>
                                                        <img src='https://salonesnetwork.com/AppSalones/resource/images/pag/btn_regresar.gif' border='0' />
                                                    </a>
                                                </div>
                                            </td>
                                            <td>Buscar :</td>
                                            <td>
                                                <input name="txtBuscar" type="text" id="txtBuscar" />
                                            </td>
                                            <td>
                                                <input type="image" name="btnBuscarSeccion" id="btnBuscarSeccion"
                                                    src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_buscar.gif"
                                                    style="border-width:0px;" />
                                                <input type="image" name="btnActualizar" id="btnActualizar"
                                                    src="https://salonesnetwork.com/AppSalones/resource/images/pag/IcoRefrescar.gif"
                                                    style="height:18px;width:22px;border-width:0px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t11.gif" />
                                </td>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t12.gif" width="100%" height="6px" />
                                </td>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t13.gif" />
                                </td>
                            </tr>

                            <tr>
                                <td style="background-image: url('https://salonesnetwork.com/AppSalones/resource/images/pag/t21.gif');">
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/spacer.gif" />
                                </td>
                                <td>
                                    <span id="dlsSeccion" class="tblpais" style="display:inline-block;width:100%;">
                                        <span>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="tblseccioncbesera"
                                                        style="text-align: center; width: 20%">
                                                        <b>Nro</b>
                                                    </td>
                                                    <td class="tblseccioncbesera"
                                                        style="text-align: center; width: 40%">
                                                        <b>Descripción</b>
                                                    </td>
                                                    <td class="tblseccioncbesera" style="text-align: center; width: 40%"
                                                        colspan="3"> - </td>
                                                </tr>
                                            </table>
                                        </span>
                                        <br />
                                        <span>
                                            <table width="100%" cellpadding="3" cellspacing="0"  >
                                                <tr *ngFor="let pais of arrayPais">
                                                    <td style="text-align: center; width: 20%">
                                                        <b>{{ pais.id }}</b>
                                                    </td>
                                                    <td class="btnsala" style="width: 40%; vertical-align: middle">
                                                        <a id="dlsSeccion_ctl01_LinkButton2" class="tblpaises"
                                                            href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton2','')">
                                                            {{ pais.name }}
                                                        </a>
                                                    </td>
                                                    <td class="btnsala" style="width: 40%; vertical-align: middle">
                                                        <a id="dlsSeccion_ctl01_LinkButton1" class="tblpaises"
                                                            href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton1','')"></a>
                                                    </td>
                                                    <td style="text-align: center" (click)="getSeccionAsunto(pais.id)">
                                                        <a id="dlsSeccion_ctl01_LinkButton3" class="tblpaises"
                                                            href="javascript:__doPostBack('dlsSeccion$ctl01$LinkButton3','')">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <img SRC='https://salonesnetwork.com/AppSalones/resource/images/pag/chile.gif'
                                                                            WIDTH=50 HEIGHT=50 Border=1 />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </span>
                                    </span>
                                </td>
                                <td style="background-image: url(https://salonesnetwork.com/AppSalones/resource/images/pag/t23.gif)">
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/spacer.gif" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t31.gif" />
                                </td>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t32.gif" width="100%" height="6px" />
                                </td>
                                <td>
                                    <img alt="" src="https://salonesnetwork.com/AppSalones/resource/images/pag/t33.gif" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <input type="image" name="btnCerrar" id="btnCerrar" src="https://salonesnetwork.com/AppSalones/resource/images/pag/btn_salir_over.gif" style="border-width:0px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
